@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&family=Poppins:wght@400;600&display=swap");

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full height */
}

.header {
  background-color: #588b8b;
  color: #ffffff;
  padding: 20px 0;
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  border-radius: 8px 8px 0 0;
}

.footer {
  background-color: #f28f3b;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  margin-top: auto;
}

.btn {
  background-color: #c8553d;
  color: white;
}
